{% extends "base.html" %}
{% block content %}
<h2>Misturas</h2>

<a href="{{ url_for('adicionar_mistura') }}" class="btn btn-success mb-3">+ Nova Mistura</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Baridade</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for m in misturas %}
    <tr>
      <td>{{ m.nome }}</td>
      <td>{{ m.baridade }}</td>
      <td>
        <a href="{{ url_for('editar_mistura', id=m.id) }}" class="btn btn-primary btn-sm">Editar</a>
        <a href="{{ url_for('composicao_mistura', id=m.id) }}" class="btn btn-warning btn-sm">Composição</a>
        <a href="{{ url_for('apagar_mistura', id=m.id) }}" class="btn btn-danger btn-sm">Apagar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
