{% extends 'base.html' %}{% block content %}
<h2>Equipamentos</h2>
<form method="post" class="row g-3 mb-3">
  <div class="col"><input name="nome" class="form-control" placeholder="Nome"></div>
  <div class="col"><input name="preco" class="form-control" placeholder="Preço/hora"></div>
  <div class="col"><input name="quantidade" class="form-control" placeholder="Quantidade" value="1"></div>
  <div class="col"><button class="btn btn-primary">Adicionar</button></div>
</form>
<table class="table table-striped"><tr><th>Nome</th><th>Preço/h</th><th>Qtd</th><th>Ativo</th></tr>
{% for e in lista %}<tr><td>{{e.nome}}</td><td>{{e.preco_hora}}</td><td>{{e.quantidade}}</td><td>{{"✔" if e.ativo else ""}}</td></tr>{% endfor %}
</table>
{% endblock %}